.themeToggler {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border-color: #000;

  width: auto;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 0;

  position: fixed;
  bottom: 32px;
  right: 32px;
}
